#!/bin/sh

export export PATH=/usr/bin:/bin
umask 077

# inline stdout redirection for sh
# https://stackoverflow.com/questions/3173131/redirect-copy-of-stdout-to-log-file-from-within-bash-script-itself
check_tee_output()
{
    # copy (append) stdout and stderr to log file if TEE is unset or true
    if [ -z "${TEE}" ] || [ "${TEE}" = true ]; then
        TEE=false $0 2>&1 | tee {{ kunai_reporting_dest }}/kunai-report-"$(date +%Y%m%d)" >/dev/null
        exit $?
    fi
}

check_tee_output

date=$(date +%Y%m%d)
f=/var/log/kunai/events.log
if [ "X$#" = X1 -a -f "$1" ]; then
  f="$1"
fi
echo
echo
echo "      KUNAI DAILY REPORT ${date} for ${f}"
echo
echo

echo "** Events info.host.name"
jq -r '.info.host.name' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events info.host.container.name"
jq -r '.info.host.container.name' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events info.event.source"
jq -r '.info.event.source' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events info.event.name"
jq -r '.info.event.name' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events info.task.name"
jq -r '.info.task.name' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events info.parent_task.name"
jq -r '.info.parent_task.name' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events data.exe.path"
jq -r '.data.exe.path' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events data.command_line"
jq -r '.data.command_line' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events data.ancestors"
jq -r '.data.ancestors' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events data.parent_command_line"
jq -r '.data.parent_command_line' "${f}" | sort | uniq -c | sort -nr | head -10
echo "** Events data.mapped.error"
jq -r '.data.mapped.error' "${f}" | sort | uniq -c | sort -nr | head -10
echo
echo

find {{ kunai_reporting_dest }} -name 'kunai-report-*' -mtime +{{ kunai_reporting_purge | default('10') }} -exec rm {} \; 2>/dev/null
