{{ ansible_managed | comment }}

[Unit]
Description=kunai report
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
ExecStart={{ scriptsdir }}/kunai_report.sh > /dev/null
WorkingDirectory=/var/tmp

[Install]
WantedBy=multi-user.target
